@font-face {
  font-family: 'semplicita';
  src: url('./fonts/semplicita.light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'nautigal';
  src: url('./fonts/TheNautigal-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'josefinSans';
  src: url('./fonts/JosefinSans-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('./fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Forum', serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #141414;
}

html, body {
  min-height: 100%;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
  padding: 0 19px;
}

@media only screen and (max-width: 1199px) {
  .container {
    max-width: 100vw;
  }
}